<!-- 
    Created on Wed Jan 18 12:51:39 2023
    Author: vegibit
    From: https://vegibit.com/how-to-use-forms-in-python-flask/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make A Short URL</title>
</head>
<body>
<h1>Make A Short URL</h1>
<form action="shortenurl" method="post">
    <label for="url">Enter URL</label>
    <input type="url" name="url" value="" required>
    <label for="shortcode">Enter Name</label>
    <input type="text" name="shortcode" value="" required>
    <input type="submit" value="Submit">
</form>

<p>Previous {{ shortcode }}</p>

</body>
</html> 

