<!-- 
https://towardsdatascience.com/talking-to-python-from-javascript-flask-and-the-fetch-api-e0ef3573c451
-->

<!DOCTYPE html>
<html>
	<title>Python <tt>fetch()</tt> Example</title>
<head>
</head>

<body>
	<h1>Python <tt>fetch()</tt> Example</h1>
	<p id='embed'>{{embed}}
	</p><p id='mylog'/>
	
<body>
</body>

<html>

