<!-- 
    Created on Wed Jan 18 12:51:39 2023
    Author: vegibit
    From: https://vegibit.com/how-to-use-forms-in-python-flask/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here Is Your URL!</title>
</head>
<body>
<h1>Here Is Your URL!</h1>
<h2>{{ shortcode }}</h2>
</body>
</html>
