<!-- 
Tiny form input and output using Flask, but not fetch() or similar

@author: geeksforgeeks
From 
https://www.geeksforgeeks.org/retrieving-html-from-data-using-flask/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
    <form action="{{ url_for("gfg")}}" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="fname" placeholder="firstname">
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lname" placeholder="lastname">
    <button type="submit">Login</button>
</body>
</html>
